<div class="container-fluid">
  <h1>トピック一覧</h1>
  <%= link_to "トピックを作成する", new_topic_path, class: 'btn btn-default' %>
  <% @topics.each do |topic| %>
  <div class="row">
    <p><%= profile_img(topic.user) %></p>
    <p class="card-text"><%= topic.content %></p>
    <%= link_to topic_path(topic) do %>
    <p>コメントする</p>
    <% end %>
    <% if topic.user_id == current_user.id %>
    <%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-default btn-sm btn-success' %>
    <%= link_to "削除", topic_path(topic.id), method: :delete, class: 'btn btn-default btn-sm btn-danger' %>
    <% end %>
  </div>
  <% end %>
</div>
