<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
    <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
    <%= link_to user_path(user) do %>
    <h4><%= user.name %></h4>
    <% end %>
    <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
    <%= profile_img(user) %>
    <%= user.email %>
    <%= render 'follow_form', user: user %>
    </div>
    <% end %>
  <% end %>
</div>
